:root {
	--secondary-color: #0f9ec6;
	--primary-color: #5d6661;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

img.logo {
	height: 200px;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}

.subheader-text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.header-text span.first-letter {
    color: var( --secondary-color );
}

.header-text span {
    text-transform: lowercase;
    color: var( --primary-color );
}